<h1>Feedback</h1>
<p>Swingshoe is made for you! Please tell us what you want, expect, what you miss - and maybe what you like too?</p>
<%= simple_form_for @feedback do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :feedback %>
  <%= f.button :submit %>
<% end %>
