<div class="form-group sticky">
  <span></span>
  <form class="row">
    <input type="search" name="search" class="form-control searchinput col-md-9" placeholder="Search for a brand, model..." required autofocus>
    <input type="submit" class="btn button btn-primary col-md-2 offset-md-1">
  </form>
</div>
<div class='cards'>
  <% @shoes.each do |shoe|%>
  <div class="card">
    <%= link_to shoe.url, target: "_blank" do %>
    <%= image_tag shoe.image_url  %>
    <div class="card-infos">
      <div>
        <h2><%= shoe.model %></h2>
        <p><%= shoe.brand %></p>
      </div>
      <h2 class="card-info-pricing">€ <%= shoe.price %></h2>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<%== pagy_bootstrap_nav(@pagy) %>
