<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url"                content="http://swingshoe.herokuapp.com/" />
    <meta property="og:title"              content="Swingshoe - Find your next favorite dance shoes" />
    <meta property="og:description"        content="Compare and search in one place swing dance shoes for lindy hop, balboa or collegiate shag" />
    <meta property="og:image"              content="/assets/swingshoe-og-picture-076c08814546212706312aadb194aaf79ce24c2f435bf861fb7062d06473750e.jpg" />
    <meta name="description"               content="Compare and search in one place swing dances shoes for lindy hop, balboa or collegiate shag"/>
    <title>SwingshoeBETA</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/banner' %>
    <%= render 'shared/flashes' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
